{% extends 'quenchApp/index.html' %}
{% block content %}

<h1>{{ object.itemName }}</h1>







<table class="table" style= "padding: 5%">

    <tr>
        <td>
            {% if object.image != '' %}

            <img src="{{object.image.url}}" alt="img" width="100"/><br/>

            {% endif %}
        </td>

        <td>
            <h2>Price: ${{ object.price }}</h2>
        </td>


        <td>
            <h2>Varietal: {{ object.dept }}</h2>
        </td>



        <td>
            <form action="{% url 'cart_update'  %}" method="POST">
                {% csrf_token %}
                <input type="hidden" name="product_id" value="{{object.id}}">


                {% if object in cart.products.all %}

                <h3><button class="btn-danger">Remove</button></h3>

                {% else %}
                <h3><button class="btn-danger">Add to cart</button></h3>

                {% endif %}
            </form>
        </td>



    </td>

        <td style="width: 40%">
            <h2> <h3>Description:</h3> {{ object.description }}</h2>
        </td>

    </tr>

</table>

{% endblock %}
