<!DOCTYPE html>
<html lang="en">
<head>

    <title>QUENCH</title>
    {% load static %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="../../static/quenchApp/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'quenchApp/index.css' %}">

</head>

<body>

<div id="container">
    <div id="topleft">
    <h1 class="fa-file-text">QUENCH</h1>
    <h2 class="fa-file-text">Wine & Spirits</h2>
    </div>
    {% if user.is_authenticated %} {#________________________Logged In User Authentication _______________________#}
    <div id="topRight">
<!--        <h4>Hi, <a  href="/login_my_user/">Sign in</a></h4>-->
        <h4><a  href="/log_me_out/">Sign Out</a></h4>
        <a href="/my_cart/"><h4>My Cart<img src="../../static/quenchApp/ShoppingCart.png" alt="" height="50"></h4></a>
        <form class="searchbar" action="#" method="get">
            <label  for="search1"> </label>
            <input class="input-lg" id="search1" type="text"  placeholder="Search" name="q"  >
            <a href="#"><img   src="../../static/quenchApp/585e4ae1cb11b227491c3393.png" height="20px"></a>
        </form>
    </div>

    {% else %}

        <div id="topRight2">
            <h4>Hi, <a  href="/login_my_user/">Sign in</a></h4>
                    <h4><a  href="/new_user/">Not already a member? Sign Up</a></h4>
            <a href="/my_cart/"><h4>My Cart<img src="../../static/quenchApp/ShoppingCart.png" alt="" height="50"></h4></a>
            <form class="searchbar" action="#" method="get">
                <label  for="search2"> </label>
                <input  id="search2" type="text"  placeholder="Search" name="q"  >
                <a href="#"><img   src="../../static/quenchApp/585e4ae1cb11b227491c3393.png" height="20px"></a>
            </form>
    </div>
    {% endif %}

</div>


<!-- Navigation Bar-->
<nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
<!--                <a class="navbar-brand" href="#">Quench Wine & Spirits</a>-->
            </div>
            <ul class="nav navbar-nav">
                <li class="active"><a href="/">Home</a></li>
                <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">WINE <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li class="dropdown-submenu"><a class="test" tabindex="-1" href="#">RED WINE<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a tabindex="-1" href="#">CABERNET SAUVIGNON</a></li>
                                <li><a tabindex="-1" href="#">PINOT NOIR</a></li>
                                <li><a tabindex="-1" href="#">MERLOT</a></li>
                                <li><a tabindex="-1" href="#">SYRAH</a></li>
                                <li><a tabindex="-1" href="#">ZINFANDEL</a></li>
                                <li><a tabindex="-1" href="#">SANGIOVESE</a></li>
                                <li><a tabindex="-1" href="#">MALBEC</a></li>
                            </ul>
                        </li>
                        <li><a href="#">ROSÉ WINE</a></li>
                        <li><a href="#">SPARKLING WINE</a></li>
                        <li class="dropdown-submenu"><a class="test" tabindex="-1" href="#">WHITE WINE<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a tabindex="-1" href="#">CHARDONNAY</a></li>
                                <li><a tabindex="-1" href="#">SAUVIGNON BLANC</a></li>
                                <li><a tabindex="-1" href="#">PINOT GRIGIO</a></li>
                                <li><a tabindex="-1" href="#">RIESLING</a></li>
                                <li><a tabindex="-1" href="#">MOSCATO BIANCO</a></li>
                            </ul>
                        </li>



                    </ul>
                </li>
                <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">SPIRITS <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li class="dropdown-submenu"><a class="test" tabindex="-1" href="#">WHISKEY <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a tabindex="-1" href="#">BOURBON</a></li>
                                <li><a tabindex="-1" href="#">RYE</a></li>
                                <li><a tabindex="-1" href="#">SCOTCH</a></li>
                                <li><a tabindex="-1" href="#">SINGLE BARREL</a></li>
                                <li><a tabindex="-1" href="#">IRISH WHISKEY</a></li>
                                <li><a tabindex="-1" href="#">CANADIAN WHISKEY</a></li>
                            </ul>
                        </li>
                        <li><a href="#">VODKA</a></li>
                        <li><a href="#">RUM</a></li>
                        <li><a href="#">GIN</a></li>
                        <li><a href="#">TEQUILA</a></li>
                        <li><a href="#">COGNAQ</a></li>
                        <li><a href="#">LIQUERS & CORDIALS</a></li>
                        <li><a href="#">APERTIFS & VERMOUTH</a></li>

                    </ul>
                </li>
                <li>
                <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">BEER <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">CRAFT</a></li>
                        <li><a href="#">IMPORTED</a></li>
                        <li><a href="#">DOMESTIC</a></li>
                        <li><a href="#">HIGH GRAVITY</a></li>


                    </ul>
                </li>



                <li>
                <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">FOOD <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">CHEESE</a></li>
                        <li><a href="#">CHOCOLATE</a></li>
                        <li><a href="#">MIXERS</a></li>
                        <li><a href="#">MORE</a></li>
                    </ul>
                </li>

                <li>
                <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">ACCESSORIES <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">GLASSWARE</a></li>
                        <li><a href="#">CORKSCREWS</a></li>
                        <li><a href="#">FLASKS</a></li>
                        <li><a href="#">MORE</a></li>
                    </ul>
                </li>
                <li>




                </li>



            </ul>
        </div>
</nav>



{% block content %}
{% endblock %}



<footer id="footer" class="jumbotron">
    <div>
       <h1>QUENCH <h2>- Wine & Spirits -</h2><h2  id="address">99 South Second Street Memphis TN 38103 <h2>Phone: 901.207.1168</h2></h2></h1>
    </div>

    <table>
        <tr><th><h2>Wine</h2></th>
            <th><h2>Spirits</h2></th>
            <th><h2>Beer</h2></th>
        </tr>

        <tr><td><h4>Red Wine</h4></td>
            <td><h4>Whiskey</h4></td>
            <td><h4>Craft</h4></td>
        </tr>

        <tr><td><h4>White Wine</h4></td>
            <td><h4>Vodka</h4></td>
            <td><h4>Imported</h4></td>
        </tr>

        <tr><td><h4>Sparkling Wine</h4></td>
            <td><h4>Vodka</h4></td>
            <td><h4>Domestic</h4></td>
        </tr>



    </table>

    <div id="hours">
        <h2> STORE HOURS</h2>
        <p>______________________</p>
        <p>Monday-Thursday</p>
        <p>11am-11pm</p>
        <p>Friday-Saturday</p>
        <p>10am-11pm</p>
        <p>Sunday</p>
        <p>12pm-8pm</p>
        <p>______________________</p>
    </div>

    <p id="copyRight">© copyright 2019 Quench Wine & Spirits 99 South Second Street, Memphis TN 38103  United States
    </p>


</footer>


</body>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<script type="text/javascript" src="{% static 'quenchApp/index.js' %}"></script>

</html>
