{% extends 'quenchApp/index.html' %}


{% block content %}


{%  for obj in object_list %}

<table class="table" style= "padding: 5%">

    <tr>
        <td style="width: 25%">

            <a href="{% url 'detail' obj.pk %}"><h4>{{ obj.itemName }}</h4></a><br/><br>


        </td>

        <td>
            <h4>Price: ${{ obj.price }}</h4>
        </td>
        <td>
            {% if object.image != '' %}

            <img src="{{obj.image.url}}" alt="img" width="30" height="85" /><br/>

            {% endif %}
        </td>


        <td style="width: 50%">
            <h5>{{ obj.description }}</h5>
        </td>
    </tr>



</table>



{% endfor %}

{% endblock %}



