{% extends 'quenchApp/index.html' %}


{% block content %}

<h1 style="margin: 1%">My Cart</h1>

<a href="{% url 'list' %}"><button style="margin: 1%"><h4>Continue Shopping</h4></button></a>
<a href="{% url 'checkOut' %}"><button><h4>Checkout Now</h4></button></a>


{% if cart.products is not Nonefg %}
<h3 style="margin: 1%">Cart ID :{{ cart.id }}</h3>
<h3 class="text-capitalize" style="margin: 1%"> Hi, {{ cart.user }}</h3>


<div class='col-sm-offset-2 '>
<table class="table" style="margin: 1%">
<thead>
<th>Item</th>
<th>Price</th>
</thead>
<tfoot>
<tr>
    <td><h3>Sub-Total :</h3></td>
<td><h3 style="margin: 1%"> ${{ cart.subtotal }}</h3></td>
<td></td>
</tr>
<tr><td><h3>Sales-Tax 9.75 % :</h3></td>
    <td><h3 style="margin: 1%"> ${{ cart.tax }}</h3></td>
    <td></td>

</tr>
<tr><td><h3>Total :</h3></td>
    <td><h3 style="margin: 1%"> ${{ cart.total }}</h3></td>
    <td></td>

</tr>

</tfoot>
{% for product in cart.products.all %}
<tr><td style="width: 65%"><a href="{% url 'detail' product.pk %}"><h3>{{ product.itemName }}</h3></a></td>

<td style="width: 15%"><h3>${{ product.price }}</h3></td>
<td style="width: 15%">{% if object.image != '' %}<img src="{{ product.image.url }}" alt="img" width="15"/><br/>{% endif %}</td></tr>

    {% endfor %}

</table>
</div>




{% else %}

<p style="margin: 1%" class="lead">Cart is Empty</p>

{% endif %}


{% endblock %}



