
html{
    background: lightgrey;
}


#container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
}

#topleft{
    margin: 5%;
}

#topRight{
    grid-column: 4;
}
#topRight2{
    grid-column: 4;
}

.searchbar{

    margin-top: 2%;
}

nav{
    font-size: large;
}

#footer{
   padding: 1%;
}
.dropdown-submenu {
    position: relative;
}

.dropdown-submenu .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -1px;
}
