
html{
    background: whitesmoke;
    /*padding: 1%;*/
}


#container{
    background: black;
    display: grid;
    color: white;
    grid-template-columns: repeat(4,1fr);
}

#topleft{
    margin:2%;
    grid-column: 1;
}

#topRight{
    grid-column: 4;
}
#topRight2{
    grid-column: 4;
}

.searchbar{

    margin-top: 2%;
}

nav{
    font-size: large;
}

#footer{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 1%;

}

#hours{
    grid-column: 4;
}

#copyRight
{
    grid-column: 1/5;
    text-align: center;
    margin: 5%;
}

#address{
    grid-column: 1;
}
.dropdown-submenu {
    position: relative;
}

.dropdown-submenu .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -1px;
}
#slideshow-container {
    display: grid;
    grid-template-columns: repeat(4,1fr);
}

#slide1 {
    grid-column: 1/3;
}


#slide1 {
    grid-column: 3/5;
}
.carousel-inner img {
    width: 100%;
    height: 100%;
}


#checkOut{
    display: grid;
    grid-template-columns: repeat(4,1fr);
}
#paypal-button-container{

    grid-column: 2/4;
}
